@font-face {
    font-family: 'icomoon';
    src:
        url('../../fonts/icomoon-v1.0/fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon-v1.0/fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon-v1.0/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    // text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e900";
}

.icon-arrow-link:before {
    content: "\e901";
}

.icon-cart:before {
    content: "\e902";
}

.icon-favorite:before {
    content: "\e903";
}

.icon-location:before {
    content: "\e904";
}

.icon-phone:before {
    content: "\e905";
}

.icon-search:before {
    content: "\e906";
}

.icon-send:before {
    content: "\e907";
}

.icon-share:before {
    content: "\e908";
}

body {
    color: #3A3A3A;
    font-family: 'Montserrat', sans-serif;

}
._container {
    max-width: var(--maxWidthContainer);
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    overflow: hidden;
}

// IBG

._ibg {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

._ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
